.container-lft {
    max-width: 1140px;
    margin: 0 auto;
}

.card {
    margin-bottom: 1rem;
    background-color: #eee;
    border: 0;
    border-bottom: .25rem solid #ccc;
}

.card:hover {
    cursor: pointer;
    background-color: #eff6fd;
    border-bottom-color: #2070b0;
}
