/* Scss Document */
/* Imports */
/* Font */
@font-face {
  font-family: johnston100-regular;
  src: url("fonts/EOT/Johnston100W03-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/WOFF2/Johnston100W03-Regular.woff2") format("woff2"), url("fonts/WOFF/Johnston100W03-Regular.woff") format("woff"), url("fonts/TTF/Johnston100W03-Regular.ttf") format("truetype"), url("fonts/SVG/Johnston100W03-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: johnston100-medium;
  src: url("fonts/EOT/Johnston100W03-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/WOFF2/Johnston100W03-Medium.woff2") format("woff2"), url("fonts/WOFF/Johnston100W03-Medium.woff") format("woff"), url("fonts/TTF/Johnston100W03-Medium.ttf") format("truetype"), url("fonts/SVG/Johnston100W03-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: johnston100-light;
  src: url("fonts/EOT/Johnston100W03-Light.eot?#iefix") format("embedded-opentype"), url("fonts/WOFF2/Johnston100W03-Light.woff2") format("woff2"), url("fonts/WOFF/Johnston100W03-Light.woff") format("woff"), url("fonts/TTF/Johnston100W03-Light.ttf") format("truetype"), url("fonts/SVG/Johnston100W03-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
.barebones {
  /* colors */
}
.barebones * {
  font-family: johnston100-light, "Helvetica Neue", Helvetica, Arial, "sans-serif", "Font Awesome 5 Free";
}
.barebones h1, .barebones h2, .barebones h3, .barebones h4, .barebones h5, .barebones h6 {
  font-family: johnston100-medium, "Helvetica Neue", Helvetica, Arial, "sans-serif", "Font Awesome 5 Free";
}
.barebones h1 {
  padding: 0.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-bottom: 0.25rem;
}
.barebones h1.h1-light {
  border-bottom: 0.25rem solid #cccccc;
  background-color: #eeeeee;
  color: #2d3039;
}
.barebones h1.h1-dark {
  border-bottom: 0.25rem solid #121315;
  background-color: #2d3039;
  color: #eeeeee;
}
.barebones .container-lft {
  max-width: 1140px;
  margin: 0 auto;
}
.barebones .banner-background {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: -400px;
  top: 57px;
  left: 0;
  width: 100%;
}
.barebones ul.links {
  list-style-type: none;
  padding-inline-start: 0;
}
.barebones ul.links li {
  padding-bottom: 0.35rem;
}
.barebones ul.links li a {
  color: inherit;
  text-decoration: none;
}
.barebones ul.links.inline li {
  display: inline;
  padding-right: 1rem;
}
.barebones .footer {
  background-color: #202329;
  color: #cccccc;
}
.barebones .footer h6 {
  color: #eeeeee;
}
.barebones .footer hr {
  background-color: #eeeeee;
}
.barebones .footer.footer-copyright {
  background-color: #2d3039;
}
.barebones .footer.footer-copyright a {
  color: #6cc6cc;
}
.barebones .alert {
  border-left-width: 0.45rem;
}
.barebones .card, .barebones .card-tflrail, .barebones .card-tram, .barebones .card-dlr, .barebones .card-overground, .barebones .card-waterloocity, .barebones .card-victoria, .barebones .card-piccadilly, .barebones .card-northern, .barebones .card-metropolitan, .barebones .card-jubilee, .barebones .card-hammersmithcity, .barebones .card-district, .barebones .card-circle, .barebones .card-central, .barebones .card-bakerloo, .barebones .card-dark {
  margin-bottom: 1rem;
  background-color: #eeeeee;
  border: 0;
  border-bottom: 0.25rem solid #cccccc;
}
.barebones .card.card-link a, .barebones .card-link.card-tflrail a, .barebones .card-link.card-tram a, .barebones .card-link.card-dlr a, .barebones .card-link.card-overground a, .barebones .card-link.card-waterloocity a, .barebones .card-link.card-victoria a, .barebones .card-link.card-piccadilly a, .barebones .card-link.card-northern a, .barebones .card-link.card-metropolitan a, .barebones .card-link.card-jubilee a, .barebones .card-link.card-hammersmithcity a, .barebones .card-link.card-district a, .barebones .card-link.card-circle a, .barebones .card-link.card-central a, .barebones .card-link.card-bakerloo a, .barebones .card-link.card-dark a {
  color: inherit;
  text-decoration: none;
}
.barebones .card.card-link:hover, .barebones .card-link.card-tflrail:hover, .barebones .card-link.card-tram:hover, .barebones .card-link.card-dlr:hover, .barebones .card-link.card-overground:hover, .barebones .card-link.card-waterloocity:hover, .barebones .card-link.card-victoria:hover, .barebones .card-link.card-piccadilly:hover, .barebones .card-link.card-northern:hover, .barebones .card-link.card-metropolitan:hover, .barebones .card-link.card-jubilee:hover, .barebones .card-link.card-hammersmithcity:hover, .barebones .card-link.card-district:hover, .barebones .card-link.card-circle:hover, .barebones .card-link.card-central:hover, .barebones .card-link.card-bakerloo:hover, .barebones .card-link.card-dark:hover {
  background-color: #eff6fd;
  border-bottom-color: #2070b0;
}
.barebones .card.card-link:hover .card-body, .barebones .card-link.card-tflrail:hover .card-body, .barebones .card-link.card-tram:hover .card-body, .barebones .card-link.card-dlr:hover .card-body, .barebones .card-link.card-overground:hover .card-body, .barebones .card-link.card-waterloocity:hover .card-body, .barebones .card-link.card-victoria:hover .card-body, .barebones .card-link.card-piccadilly:hover .card-body, .barebones .card-link.card-northern:hover .card-body, .barebones .card-link.card-metropolitan:hover .card-body, .barebones .card-link.card-jubilee:hover .card-body, .barebones .card-link.card-hammersmithcity:hover .card-body, .barebones .card-link.card-district:hover .card-body, .barebones .card-link.card-circle:hover .card-body, .barebones .card-link.card-central:hover .card-body, .barebones .card-link.card-bakerloo:hover .card-body, .barebones .card-link.card-dark:hover .card-body {
  border-right: 2rem solid #2070b0;
}
.barebones .card.card-link .card-body, .barebones .card-link.card-tflrail .card-body, .barebones .card-link.card-tram .card-body, .barebones .card-link.card-dlr .card-body, .barebones .card-link.card-overground .card-body, .barebones .card-link.card-waterloocity .card-body, .barebones .card-link.card-victoria .card-body, .barebones .card-link.card-piccadilly .card-body, .barebones .card-link.card-northern .card-body, .barebones .card-link.card-metropolitan .card-body, .barebones .card-link.card-jubilee .card-body, .barebones .card-link.card-hammersmithcity .card-body, .barebones .card-link.card-district .card-body, .barebones .card-link.card-circle .card-body, .barebones .card-link.card-central .card-body, .barebones .card-link.card-bakerloo .card-body, .barebones .card-link.card-dark .card-body {
  border-right: 2rem solid #eeeeee;
}
.barebones .card-dark {
  color: #eff6fd;
  background-color: #2d3039;
  border-bottom-color: #121315;
}
.barebones .card-dark.card-link:hover {
  background-color: #121315;
}
.barebones .card-dark.card-link .card-body {
  border-right-color: #2d3039;
}
.barebones .card-bakerloo {
  color: #eff6fd;
  background-color: #894e24;
  border-bottom-color: #633717;
}
.barebones .card-bakerloo.card-link:hover {
  background-color: #633717;
}
.barebones .card-bakerloo.card-link .card-body {
  border-right-color: #894e24;
}
.barebones .card-central {
  color: #eff6fd;
  background-color: #dc241f;
  border-bottom-color: #a71F1b;
}
.barebones .card-central.card-link:hover {
  background-color: #a71F1b;
}
.barebones .card-central.card-link .card-body {
  border-right-color: #dc241f;
}
.barebones .card-circle {
  color: #000000;
  background-color: #ffce00;
  border-bottom-color: #b99709;
}
.barebones .card-circle.card-link:hover {
  background-color: #b99709;
}
.barebones .card-circle.card-link .card-body {
  border-right-color: #ffce00;
}
.barebones .card-district {
  color: #eff6fd;
  background-color: #007229;
  border-bottom-color: #094920;
}
.barebones .card-district.card-link:hover {
  background-color: #094920;
}
.barebones .card-district.card-link .card-body {
  border-right-color: #007229;
}
.barebones .card-hammersmithcity {
  color: #000000;
  background-color: #d799af;
  border-bottom-color: #cb3a6d;
}
.barebones .card-hammersmithcity.card-link:hover {
  background-color: #cb3a6d;
}
.barebones .card-hammersmithcity.card-link .card-body {
  border-right-color: #d799af;
}
.barebones .card-jubilee {
  color: #eff6fd;
  background-color: #6a7278;
  border-bottom-color: #383b3d;
}
.barebones .card-jubilee.card-link:hover {
  background-color: #383b3d;
}
.barebones .card-jubilee.card-link .card-body {
  border-right-color: #6a7278;
}
.barebones .card-metropolitan {
  color: #eff6fd;
  background-color: #751056;
  border-bottom-color: #3e092e;
}
.barebones .card-metropolitan.card-link:hover {
  background-color: #3e092e;
}
.barebones .card-metropolitan.card-link .card-body {
  border-right-color: #751056;
}
.barebones .card-northern {
  color: #eff6fd;
  background-color: #000000;
  border-bottom-color: #353635;
}
.barebones .card-northern.card-link:hover {
  background-color: #353635;
}
.barebones .card-northern.card-link .card-body {
  border-right-color: #000000;
}
.barebones .card-piccadilly {
  color: #eff6fd;
  background-color: #0019a8;
  border-bottom-color: #020931;
}
.barebones .card-piccadilly.card-link:hover {
  background-color: #020931;
}
.barebones .card-piccadilly.card-link .card-body {
  border-right-color: #0019a8;
}
.barebones .card-victoria {
  color: #eff6fd;
  background-color: #00a0e2;
  border-bottom-color: #04435d;
}
.barebones .card-victoria.card-link:hover {
  background-color: #04435d;
}
.barebones .card-victoria.card-link .card-body {
  border-right-color: #00a0e2;
}
.barebones .card-waterloocity {
  color: #000000;
  background-color: #76d0bd;
  border-bottom-color: #368776;
}
.barebones .card-waterloocity.card-link:hover {
  background-color: #368776;
}
.barebones .card-waterloocity.card-link .card-body {
  border-right-color: #76d0bd;
}
.barebones .card-overground {
  color: #eff6fd;
  background-color: #e86a10;
  border-bottom-color: #9c480d;
}
.barebones .card-overground.card-link:hover {
  background-color: #9c480d;
}
.barebones .card-overground.card-link .card-body {
  border-right-color: #e86a10;
}
.barebones .card-dlr {
  color: #000000;
  background-color: #00afad;
  border-bottom-color: #044e4d;
}
.barebones .card-dlr.card-link:hover {
  background-color: #044e4d;
}
.barebones .card-dlr.card-link .card-body {
  border-right-color: #00afad;
}
.barebones .card-tram {
  color: #000000;
  background-color: #66cc00;
  border-bottom-color: #2b5205;
}
.barebones .card-tram.card-link:hover {
  background-color: #2b5205;
}
.barebones .card-tram.card-link .card-body {
  border-right-color: #66cc00;
}
.barebones .card-tflrail {
  color: #eff6fd;
  background-color: #0019a8;
  border-bottom-color: #020931;
}
.barebones .card-tflrail.card-link:hover {
  background-color: #020931;
}
.barebones .card-tflrail.card-link .card-body {
  border-right-color: #0019a8;
}

/*# sourceMappingURL=barebones.css.map */
